!!! 5
//if lt IE 7
    <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
//if IE 7
    <html class="no-js lt-ie9 lt-ie8" lang="en">
//if IE 8
    <html class="no-js lt-ie9" lang="en">
<!--[if gt IE 8]><!-->
html.no-js.wf-loading(lang='en')
  <!--<![endif]-->
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='components/normalize-css/normalize.css')

    // Place favicon.ico and apple-touch-icon.png in the root directory 
    // build:css styles/main.css 
    link(rel='stylesheet', href='styles/solarized-light.css')
    link(rel='stylesheet', href='styles/main.css')
    // endbuild    

    script(src='components/modernizr/modernizr.js')

  body
    //if lt IE 7
      p.chromeframe
        | You are using an outdated browser.
        a(href='http://browsehappy.com/') Upgrade your browser today
        | or
        a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
        | to better experience this site.

    // if lt IE 9
      script(src='components/es5-shim/es5-shim.js')
      script(src='components/json3/lib/json3.min.js')

    block content

    script(src='components/bespoke.js/dist/bespoke.js')
    // build:js scripts/scripts.js 
    script(src='scripts/bespoke-plugins.js')
    script(src='scripts/rainbow.custom.min.js')
    script(src='scripts/app.js')
    // endbuild 

    script
      (function() {
        var config = {
          kitId: 'rgz7pbt',
          scriptTimeout: 3000
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();
    
    // Google Analytics: change UA-XXXXX-X to be your site's ID. 
    script
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
